<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JeuWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JeuWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <JeuWinForms.Properties.Settings>
      <setting name="RepertoireDictionnaires" serializeAs="String">
        <value>C:\01 CDA\M1 - Dév Interface App Info\05 UI Windows\Ateliers\Projet Synthèse 2021\Source du projet\JeuQuinto\JeuWinForms\AppData</value>
      </setting>
      <setting name="NombreManchesMini" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NombreManchesMaxi" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NombrePointsErreurMini" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NombrePointsErreurMaxi" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="NombrePointsSecondeMini" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NombrePointsSecondeMaxi" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="NombreErreursMini" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="NombreErreursMaxi" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Cultures" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>FR-fr</string>
            <string>EN-en</string>
          </ArrayOfString>
        </value>
      </setting>
    </JeuWinForms.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <JeuWinForms.Properties.Settings>
      <setting name="NombreManches" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NombrePointsErreur" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NombreErreurs" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NombrePointsParSeconde" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CultureCourante" serializeAs="String">
        <value>FR-fr</value>
      </setting>
    </JeuWinForms.Properties.Settings>
  </userSettings>
</configuration>
